APP_NAME=BugDefect
APP_ENV=dev
APP_DEBUG=true


DB=mysql
DB_HOST=mysql
DB_PORT=3306
DB_NAME=bug_defect
DB_USER=root
DB_PASSWORD=

HASH_KEY_PASSWORD=replace_with_a_long_random_secret

BOARD_ROLE_ADMIN=admin
BOARD_ROLE_DEVELOPER=developer
BOARD_ROLE_GUEST=guest

SESSION_DRIVER=file
SESSION_NAME=BUGDEFECTSESSID
SESSION_LIFETIME=86400

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0
REDIS_SESSION_PREFIX=bugdefect_session:
