APP_NAME=BugDefect
APP_ENV=dev
APP_DEBUG=true


DB=mysql
DB_HOST=mysql
DB_PORT=3306
DB_NAME=bug_defect
DB_USER=root
DB_PASSWORD=

HASH_KEY_PASSWORD=replace_with_a_long_random_secret

BOARD_ROLE_ADMIN=admin
BOARD_ROLE_DEVELOPER=developer
BOARD_ROLE_GUEST=guest
