$bg-main: #0f172a;
$bg-card: #111827;
$bg-panel: #1e293b;

$text-main: #e5e7eb;
$text-muted: #94a3b8;

$primary: #38bdf8;
$success: #22c55e;
$warning: #f59e0b;
$danger: #ef4444;

$hover-btn: #7ed3f7;
$not-active-btn: #7e8083;

$border: #334155;
